<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @notebook.name %>

</p>
<br>
<br>

<%= link_to 'New Note', new_category_notebook_note_path(@category, @notebook ) %>

<%= link_to 'Edit', edit_category_notebook_path(@category, @notebook) %> |
<%= link_to 'Back', category_notebooks_path(@category) %>
