<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @notebook.name %>

</p>
<br>
<br>

<%= link_to 'New Note', new_notebook_note_path(@notebook ,@note) %>

<%= link_to 'Edit', edit_notebook_path(@notebook) %> |
<%= link_to 'Back', notebooks_path %>
