<p id="notice"><%= notice %></p>

<h1><%= @notebook.name %></h1>
  <br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> 
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.name %></td>
        <td><%= note.content %></td>
      </tr>
      <tr>
        <td><%= link_to 'Show', @note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', [@category, @notebook, note], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_category_notebook_note_path(@category, @notebook) %>
<%= link_to 'Notebooks', category_notebooks_path(@category, @notebook) %>
