<h1>New Note:</h1>



<article>
<%= form_for([@category, @notebook, @note])  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.hidden_field :category_id, :value => @category %>
  <%= f.hidden_field :notebook_id, :value => @notebook %>
  <br>

  <%= f.submit %>
<% end %>
</article>