<p id="notice"><%= notice %></p>

<h1>Events</h1>

<!-- 
     find todays date & set it as a param
     use start_date and find a range from 
     beginning of current month to the end
     of current month and extend to the 
     beginning/end of the nearest weeks
     and convert to an array 
-->


  <% start_date = params.fetch(:start_date, Date.today).to_date %>
  <% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week).to_a%>  
  
    

  <table>
    <thead>
      <tr>
        <% date_range.slice(0,7).each do |day| %>
          <th> <%= I18n.t("date.day_names")[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>   
           <% week.each do |day| %>
            <td>
              <%= day %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>

  </table>




<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Due date</th>
      <th>Start time</th>
      <th>Finish time</th>
      <th>Location</th>
      <th>Description</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.due_date %></td>
        <td><%= event.start_time %></td>
        <td><%= event.finish_time %></td>
        <td><%= event.location %></td>
        <td><%= event.description %></td>
        <td><%= event.priority %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
