<p id="notice"><%= notice %></p>


<article>
<table>
<p><td>
  <strong>Name:</strong>
  <br>
  <%= @event.name %>
  </td>
</p>

<p><td>
  <strong>Due date:</strong>
  <br>
  <%= @event.due_date %>
  </td>
</p>

<p><td>
  <strong>Start time:</strong>
  <br>
  <%= @event.start_time %>
  </td>
</p>

<p><td>
  <strong>Finish time:</strong>
  <br>
  <%= @event.finish_time %>
  </td>
</p>

<p><td>
  <strong>Description:</strong>
  <br>
  <%= @event.description %>
  </td>
</p>
</table>

<%= link_to 'Edit', edit_calendar_event_path(@calendar, @event) %> 
<%= link_to 'Back', calendar_events_path(@calendar) %>
</article>

<aside>
<%= link_to 'New Task', new_calendar_event_path(@calendar, @event)%>
</aside>
