<p id="notice"><%= notice %></p>

<h1>Choose or create a calendar</h1>
<br>
<br>

<article>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @calendars.each do |calendar| %>
      
        <tr>
          <td><h2><strong><%= calendar.name %></strong></h2></td>
          <td><%= link_to 'Show', calendar %></td>
          <td><%= link_to 'Edit', edit_calendar_path(calendar) %></td>
          <td><%= link_to 'Destroy', calendar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>
<br>

<aside>
<%= link_to '++ New Calendar', new_calendar_path %>
</aside>