<p id="notice"><%= notice %></p>


<% start_date = params.fetch(:start_date, Date.today).to_date %>
  <% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week).to_a%>  

  
<h1><strong> <%=start_date.strftime("%B")%></strong></h1>
<br>
<br>


  
    

  <article>
  <table>
      <thead>
        <tr>
          <% date_range.slice(0,7).each do |day| %>
            <th> <%= I18n.t("date.day_names")[day.wday] %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% date_range.each_slice(7) do |week| %>
          <tr>   
            <% week.each do |day| %>
              <td>
              <br>
              
              
                <% @day = day.strftime("%b,%d") %>

                  <%= link_to @day, calendar_events_path(@calendar) %>          
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
        <tfoot>  Click a date to add an event to your calendar 
        <br>
        </tfoot>
        

    </table>
  </article>

  <aside>
    <%= render 'events/events' %>
  </aside>



