<!DOCTYPE html>
<html>
  <head>
    <title>NotebookProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
      <% if user_signed_in? %>
        <p> Welcome, <%= current_user.name %> - <%= link_to "Sign_out", destroy_user_session_path, :method => 'delete' %>
         <%= link_to 'Home', root_path %>
        </p>
        
      <br>
      <br>

      <% end %>

  <body>
    <%= yield %>
  </body>
</html>
