<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => 'image/png' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">   

    <title>:::MotherShip:::</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <nav class = "col-1">    
         <div class='alien-logo'>
         <% if user_signed_in? %>
         <% if current_user.profile %>
            <image src="<%= (url_for(current_user.profile.profile_picture)) %>" >
          <% else %>
        <%= image_tag("alien1.png")%>
          <% end %>
          <% end %>
         </div>

         <div class='button-container'>
        <button>
         <%= link_to 'My Profile', profiles_path %>
        </button>
  
        <button>
          <%= link_to 'Home', root_path%>
        </button>

        <button>
          <%= link_to 'Notes', categories_path %>
        </button>
  
        <button>
          <%= link_to 'Itinerary', calendars_path %>
        </button>

        <button>
          <%= link_to 'Friends', friends_path %>
        </button>
      
        <button><%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %></button>
      </div>
    </nav>
      
      <div class="col-2">
        <header>
          <h1> MotherShip Organizer</h1>
          <br>
          <h3>::developed by Skyquake Software::</h3>

          <% if user_signed_in? %>
            <h2>
            Welcome, <% if current_user.profile%>
                        <%= '$'+current_user.profile.screen_name %>
                      <% else %>
                        <%= current_user.name %> - 
                    <%end%>      
          <% end %>
        </header>

        <main class="content">
           <%= yield %>
           
            <footer>
          Rails Concept by <strong>Ryan McCauley</strong>
            </footer> 
        </main>  

      </div>
  </body>

  </html>
  
